.main-container {
	border-radius: 10px;
	border: 1px solid #6B6B6B;
	margin: 0 auto;
	padding: 10px;
}

.logo {
	width: 50px;
	border-radius: 7px;
	
}
.left, .right {
	overflow: auto;
	position: relative;
}

.left {
	float: left;
	margin-right: 10px;
}

#search {
	margin-left: 5px;
	width: 180px;
	min-width: 130px;
	border-radius: 25px;
	padding: 0 10px;
}

.logo, #search {
	height: 30px;
	border: none;
	border-bottom: 1px solid #909090;
}

.list {
	margin: 5px 0;
	height: 94%;
	border-radius: 10px;
	overflow: auto;
}

.list li {
	padding: 10px 20px 5px;
	border-bottom: 1px solid #292929;
}

.list li.selected {
	border-bottom: 1px solid #2f0308;
    border-top: 1px solid #5b393c;
}

.list li:last {
	border-radius: 0 0 10px 10px;
}

.right {
	border: 1px solid #272727;
	border-radius: 10px;
}

.heading {
	padding: 25px 0 5px 15px;
}

.count {
	padding-right: 5px;
}

.add-new {
	position: absolute;
	right: 0;
	top: 15px;
	border-radius: 5px;
	padding: 0 7px 3px;
	margin-right: 10px;
	border: 1px solid #BEBEBE;
}

.todo-list {
	margin: 5px;
	border: 2px solid #CCCCCC;
	height: 88%;
}

.todo-list li {
	border-bottom: 2px dotted #CCCCCC;
	height: 40px;
}

.sidebar, .task {
	height: 100%;
}

.sidebar {
	float: left;
	width: 40px;
	border-right: 1px solid #f9c1ca;
}

.task {
	border-left: 1px solid #f9c1ca;
	margin-left: 43px;
	padding: 2px 5px 0
}


