
@media screen and (min-width: 692px) {
	.main-container {
		width: 670px;
	}
}

@media screen and (min-width: 606px) {
	.main-container {
		height: 600px;
	}
}

@media screen and (max-width: 692px) {
	.main-container {
		width: 95%;
	}
	.left {
		min-width: 200px;
		width: 20%;
	}
	#search {
		width: 70%;
	}
	.right {
		min-width: 360px;
	}
}

@media screen and (max-width: 605px) {
	.main-container {
		width: 90%;
		min-width: 290px;
		margin: 0 auto;
	}

	.left {
		width: 98%;
		margin: 0 auto 10px;
	}

	.list {
		height: 200px;
	}
	.right {
		min-width: 200px;
	}

	#search {
		width: 77%;
	}

	.todo-list {
		height: 92%;
	}
}
